################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2017/Day3/.vs/Day3
/Day7/obj/Release/netcoreapp3.0
/.vs
/Day7/obj
/Day7/bin/Debug/netcoreapp3.0
/Day7/.vs/Day7/v16
/Day6/obj
/Day5/obj
/Day4/obj
/Day3/obj
/Day2/obj
/Day1/obj
/2019/Day3/obj
/2017/Day5/obj
/2017/Day3/obj/Release/netcoreapp3.0
/2017/Day3/obj/Debug/netcoreapp3.0
/Day7/.vs/Day7/DesignTimeBuild/.dtbcache
/Day8/.vs/Day8/v16/.suo
/Day8/.vs/Day8/v16/Server/sqlite3/db.lock
/Day8/.vs/Day8/v16/Server/sqlite3/storage.ide
/Day8/.vs/Day8/v16/Server/sqlite3/storage.ide-shm
/Day8/.vs/Day8/v16/Server/sqlite3/storage.ide-wal
/Day8/bin/Debug/netcoreapp3.0/Day8.deps.json
/Day8/bin/Debug/netcoreapp3.0/Day8.dll
/Day8/bin/Debug/netcoreapp3.0/Day8.exe
/Day8/bin/Debug/netcoreapp3.0/Day8.pdb
/Day8/bin/Debug/netcoreapp3.0/Day8.runtimeconfig.dev.json
/Day8/bin/Debug/netcoreapp3.0/Day8.runtimeconfig.json
/Day8/obj/Day8.csproj.nuget.cache
/Day8/obj/Day8.csproj.nuget.dgspec.json
/Day8/obj/Day8.csproj.nuget.g.props
/Day8/obj/Day8.csproj.nuget.g.targets
/Day8/obj/Debug/netcoreapp3.0/Day8.AssemblyInfo.cs
/Day8/obj/Debug/netcoreapp3.0/Day8.AssemblyInfoInputs.cache
/Day8/obj/Debug/netcoreapp3.0/Day8.assets.cache
/Day8/obj/Debug/netcoreapp3.0/Day8.csproj.FileListAbsolute.txt
/Day8/obj/Debug/netcoreapp3.0/Day8.csprojAssemblyReference.cache
/Day8/obj/Debug/netcoreapp3.0/Day8.dll
/Day8/obj/Debug/netcoreapp3.0/Day8.exe
/Day8/obj/Debug/netcoreapp3.0/Day8.pdb
/Day8/obj/project.assets.json
/Day8/.vs/Day8/DesignTimeBuild
/2019/Day2/obj/Debug/netcoreapp3.0/Day2.AssemblyInfo.cs
/2019/Day2/obj/Debug/netcoreapp3.0/Day2.AssemblyInfoInputs.cache
/2019/Day2/obj/Debug/netcoreapp3.0/Day2.csprojAssemblyReference.cache
/2019/Day2/obj/Release/netcoreapp3.0/Day2.AssemblyInfo.cs
/2019/Day2/obj/Release/netcoreapp3.0/Day2.AssemblyInfoInputs.cache
/2019/Day4/obj/Debug/netcoreapp3.0/Day4.AssemblyInfo.cs
/2019/Day4/obj/Debug/netcoreapp3.0/Day4.AssemblyInfoInputs.cache
/2019/Day4/obj/Release/netcoreapp3.0/Day4.AssemblyInfo.cs
/2019/Day4/obj/Release/netcoreapp3.0/Day4.AssemblyInfoInputs.cache
/2019/Day5/obj/Debug/netcoreapp3.0/Day5.AssemblyInfo.cs
/2019/Day5/obj/Debug/netcoreapp3.0/Day5.AssemblyInfoInputs.cache
/2019/Day5/obj/Debug/netcoreapp3.0/Day5.csprojAssemblyReference.cache
/2019/Day5/obj/Release/netcoreapp3.0/Day5.AssemblyInfo.cs
/2019/Day5/obj/Release/netcoreapp3.0/Day5.AssemblyInfoInputs.cache
/2019/Day6/obj/Debug/netcoreapp3.0/Day6.AssemblyInfo.cs
/2019/Day6/obj/Debug/netcoreapp3.0/Day6.AssemblyInfoInputs.cache
/2019/Day6/obj/Release/netcoreapp3.0/Day6.AssemblyInfo.cs
/2019/Day6/obj/Release/netcoreapp3.0/Day6.AssemblyInfoInputs.cache
/2019/Day7/.vs/Day7/v16/Server/sqlite3/db.lock
/2019/Day7/.vs/Day7/v16/Server/sqlite3/storage.ide
/2019/Day7/bin/Debug/netcoreapp3.0/Day7.deps.json
/2019/Day7/bin/Debug/netcoreapp3.0/Day7.dll
/2019/Day7/bin/Debug/netcoreapp3.0/Day7.exe
/2019/Day7/bin/Debug/netcoreapp3.0/Day7.pdb
/2019/Day7/bin/Debug/netcoreapp3.0/Day7.runtimeconfig.dev.json
/2019/Day7/bin/Debug/netcoreapp3.0/Day7.runtimeconfig.json
/2019/Day7/obj/Day7.csproj.nuget.cache
/2019/Day7/obj/Day7.csproj.nuget.dgspec.json
/2019/Day7/obj/Day7.csproj.nuget.g.props
/2019/Day7/obj/Day7.csproj.nuget.g.targets
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.AssemblyInfo.cs
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.AssemblyInfoInputs.cache
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.assets.cache
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.csproj.FileListAbsolute.txt
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.csprojAssemblyReference.cache
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.dll
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.exe
/2019/Day7/obj/Debug/netcoreapp3.0/Day7.pdb
/2019/Day7/obj/project.assets.json
/2019/Day7/obj/Release/netcoreapp3.0/Day7.AssemblyInfo.cs
/2019/Day7/obj/Release/netcoreapp3.0/Day7.AssemblyInfoInputs.cache
/2019/Day7/.vs/Day7/DesignTimeBuild/.dtbcache
/2019/Day7/.vs/Day7/v16/.suo
/2019/Day8/.vs/Day8/DesignTimeBuild/.dtbcache
/2019/Day8/.vs/Day8/v16/.suo
/2019/Day8/.vs/Day8/v16/Server/sqlite3/db.lock
/2019/Day8/.vs/Day8/v16/Server/sqlite3/storage.ide
/2019/Day8/bin/Debug/netcoreapp3.0/Day8.deps.json
/2019/Day8/bin/Debug/netcoreapp3.0/Day8.dll
/2019/Day8/bin/Debug/netcoreapp3.0/Day8.exe
/2019/Day8/bin/Debug/netcoreapp3.0/Day8.pdb
/2019/Day8/bin/Debug/netcoreapp3.0/Day8.runtimeconfig.dev.json
/2019/Day8/bin/Debug/netcoreapp3.0/Day8.runtimeconfig.json
/2019/Day8/obj/Day8.csproj.nuget.cache
/2019/Day8/obj/Day8.csproj.nuget.dgspec.json
/2019/Day8/obj/Day8.csproj.nuget.g.props
/2019/Day8/obj/Day8.csproj.nuget.g.targets
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.AssemblyInfo.cs
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.AssemblyInfoInputs.cache
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.assets.cache
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.csproj.FileListAbsolute.txt
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.csprojAssemblyReference.cache
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.dll
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.exe
/2019/Day8/obj/Debug/netcoreapp3.0/Day8.pdb
/2019/Day8/obj/project.assets.json
