################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2017/Day3/.vs/Day3
/Day7/obj/Release/netcoreapp3.0
/.vs
/Day7/obj
/Day7/bin/Debug/netcoreapp3.0
/Day7/.vs/Day7/v16
/Day6/obj
/Day5/obj
/Day4/obj
/Day3/obj
/Day2/obj
/Day1/obj
/2019/Day3/obj
/2017/Day5/obj
/2017/Day3/obj/Release/netcoreapp3.0
/2017/Day3/obj/Debug/netcoreapp3.0
